.count-title {
  font-size: 12vw;
  line-height: 10vw;
}

.counter-card {
  @apply bg-[#202020] text-[#f7f7f7] rounded-lg shadow-lg border-2 border-[#202020] border-solid transition-colors duration-300 text-center relative hover:border-gray-600
}

.counter-card.active {
  @apply border-gray-600
}

.counter-card:hover .delete-icon {
  display: block;
}

.counter-title:hover .edit-icon {
  @apply opacity-100
}

.counter-card:hover .reset-icon {
  display: block;
}

.counter-card .hover-btn {
  @apply tooltip absolute cursor-pointer top-[5px] hidden text-gray-600
}

.counter-card .hover-btn:hover {
  color: #4ade80;
}